{
  "parser": "babel-eslint",

  "ecmaVersion": 6,

  "ecmaFeatures": {
    "jsx": true,
    "modules": true,
    "experimentalObjectRestSpread": true
  },

  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },

  "rules": {
    "quotes": [2, "single"],
    "strict": [2, "never"],
    "arrow-spacing": 2,
    "comma-spacing": [2, {"before": false, "after": true}],
    "semi": [2, "always"],
    "no-const-assign": 2,
    "no-var": 2,
    "object-shorthand": 1,
    "prefer-const": 1,
    "prefer-reflect": 1,
    "prefer-spread": 1,
    "prefer-template": 1,
    "comma-dangle": [2, "never"],
    "no-sequences": 1,
    "no-irregular-whitespace": 2,
    "babel/generator-star-spacing": 1,
    "babel/new-cap": 1,
    "babel/object-shorthand": 1,
    //"babel/arrow-parens": 1,
    "babel/no-await-in-loop": 1,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2
  },
  "plugins": [
    "babel",
    "react"
  ]
}
