<html>
    <style>
        /*a {*/
            /*border:1px solid gray;*/
            /*line-height: 48px;*/
            /*display: inline-block;*/
            /*border-radius: 10px;*/
        /*}*/
        .form {
            border:1px solid lightgrey;
        }

        .form-control {
            height: ;
        }

    </style>
<body>
<!--<a href="__githubUrl__"><img src="/images/GitHub-Mark-32px.png">Github</a>&nbsp;<a href="#">Facebook</a>&nbsp;<a href="#">Twitter</a>-->
<!--<hr/>-->
<div class="form">
    <form method="get"  action="/__appId__/authenticate">
        <div class="form-control">
            <label>User name</label>
            <input type="email" name="email"/>
        </div>
        <div class="form-control">
            <label>Password</label>
            <input type="password"/>
        </div>
        <div class="form-control">
            <input type="submit" value="Login">
        </div>
    </form>
</div>
</body>
</html>